/* Created for Epam summer intenship competition, Epam 2018 - Created by tkSrchD (Tápai Dávid) */

* {
	margin: 0;
	padding: 0;
}

body {
	background: #E8E9ED;
	font-family: 'Ubuntu';
	font-size:14px
}
.clear {
	clear: both;
}
#wrapper {
	width: 60%;
	min-height: 50px;
	margin: 20px auto;
}
#header {
	width: 100%;
	min-height: 20px;
	max-height: 70px;
	margin: 5px auto;
	background: #fff;
	border: 1px solid #BEBEBE;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#logo {
	width: 40%; 
	min-height: 20px;
	max-height: 70px;
	background: #fff;
	float: left;
}
#logo img {
	max-width: 270px;
	padding-left: 5px;
    height: 64px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#sm-logo {
	width: 20%;
	margin: 0px auto;
	display: none;
	visibility: hidden;
}
#menu{
	width: 60%;
	min-height: 20px;
	max-height: 100px;
	background: #fff;
	color: #000;
	text-align: right;
	float: right;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#menu ul a li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 19px;
	color: #474648;
	text-decoration: none;
	line-height: 4rem;
	padding: 0px 10px;
}
#menu ul a li:hover {
	background: #f4f4f4;
	text-decoration: none;
	opacity: 0.7;
}
#container {
	width: 96%;
	min-height: 100px;
	margin: 10px auto;
	background: #fff;
	padding: 2%;
	border: 1px solid #BEBEBE;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#footer {
	width: 30%;
	min-height: 20px;
	margin: 10px auto;
	background: #fff;
	border: 1px solid #BEBEBE;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	padding: 10px;
}

/* Állatkereső */
.table-switch {
	width: 100%;
	margin: 0px auto;
}
table {
	width: 20%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #20B3CE;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 5px;
}
table tr td {
	border-right: 1px solid #20B3CE;	
	padding: 3px;
}
table tr td:last-child {
	border-right: none;	
}
table tr td a{
	color: #20B3CE;
	text-decoration: none;
}

#create-wrapper {
	width: 100%;
	margin: 5px auto;
}
#database-wrapper {
	width: 100%;
	margin: 5px auto;
}

/* Database */
#search-panel {
	width: 100%;
	min-height: 10px;
	margin: 0 auto;
	background: #EFF0F0;
	border: 1px solid #BEBEBE;
}
#database-data {
	width: 100%;
	min-height: 10px;
	margin: 10px auto;
	background: #EFF0F0;
	border: 1px solid #BEBEBE;
}
.data-element {
	width: 80%;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 10px auto;
	background: #fff;
	border: 1px solid #BDBDBD;
}
.data-element-title {
	width: 80%;
	margin: 10px;
	font-weight: bold;
	background: #fff;
	font-size: 18px;
	padding-left: 5px;
}
.data-element-attr {
	width: 80%;
	margin: 5px;
	background: #fff;
	font-size: 15px;
	padding-left: 5px;
}
.data-element-name {
	padding-left: 5px;
}
/* Form */
.sw-input {
	color: #6c6c6c;
    font-size: 15px;
    outline: none;
	margin: 5px;
    width: 30%;
    padding: 5px;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.btn {
	display: block;
	cursor: pointer;
	margin: 10px auto;
	padding: 12px 40px;
	background: #20B3CE;
	border: none;
	color: #fff;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.btn:hover{
	opacity: 0.8;
}
.error {
	width: 100%;
	margin: 3px auto;
	background: #FF6262;
	color: #fff;
	padding: 5px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Media screens */

@media only screen
and (min-width : 940px)
and (max-width : 1280px) {
	#wrapper {
		width: 85%;
	}
	#menu ul a li {
		font-size: 16px;
	}
	#menu{
	width: 100%;
	min-height: 20px;
	max-height: 100px;
	background: #fff;
	color: #000;
	text-align: center;
	float: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	}
	#logo {
		display: none;
		visibility: hidden;
	}
	#sm-logo {
		display: block;
		visibility: visible;
	}
}
@media only screen
and (min-width : 480px)
and (max-width : 940px) {
	#wrapper {
		width: 90%;
	}
	#menu ul a li {
		font-size: 16px;
	}
	#menu{
	width: 100%;
	min-height: 20px;
	max-height: 100px;
	background: #fff;
	color: #000;
	text-align: center;
	float: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	}
	#logo {
		display: none;
		visibility: hidden;
	}
	#sm-logo {
		width: 30%;
		display: block;
		visibility: visible;
	}
	#footer {
		width: 60%;
	}
}
@media only screen
and (min-width : 240px)
and (max-width : 480px) {
	#wrapper {
		width: 95%;
	}
	#menu ul a li {
		font-size: 11px;
		padding: 0px 2px;
	}
	#menu{
	width: 100%;
	min-height: 20px;
	max-height: 100px;
	background: #fff;
	color: #000;
	text-align: center;
	float: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	}
	#logo {
		display: none;
		visibility: hidden;
	}
	#sm-logo {
		width: 50%;
		display: block;
		visibility: visible;
	}
	#footer {
		width: 60%;
	}
}